<div class="caja-formulario">
    <h1>Agregar Empresa</h1>

    <form #form="ngForm" (ngSubmit)="guardarEmpresa()">
        <div class="form-group">
            <label>Nombre:  </label>
            <input 
                type="text" 
                placeholder="Nombre de la empresa" 
                name="nombre" 
                [(ngModel)]="EmpresaService.formData.nombre" 
            />
            <label>Dirección:  </label>
            <input 
                type="text" 
                placeholder="Dirección de la empresa" 
                name="direccion" 
                [(ngModel)]="EmpresaService.formData.direccion" 
            />
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar"/>
        </div>

        <input 
            type="text" 
            placeholder="Resultado" 
            name="resultado" 
            [(ngModel)]="EmpresaService.apiResponse.mensaje"
            readonly
        />
    </form>
</div>