<div class="caja-formulario">
    <h1>Agregar Marca</h1>

    <form #form="ngForm" (ngSubmit)="guardarMarca()">
        <div class="form-group">
            <label>Descripción:  </label>
            <input 
                type="text" 
                placeholder="Descripción de la marca" 
                name="description" 
                [(ngModel)]="MarcaService.formData.descripcion" 
            />
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar"/>
        </div>

        <input 
            type="text" 
            placeholder="Resultado" 
            name="resultado" 
            [(ngModel)]="MarcaService.apiResponse.mensaje"
            readonly
        />
    </form>
</div>