<nav>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../UnidadMedida">Unidad de Medida</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Marca">Marcas</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Empresa">Empresa</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Cliente">Cliente</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Proveedor">Proveedor</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Vendedor">Vendedor</a>
</nav>
<router-outlet></router-outlet>