a {
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.90s ease;
    color: #ffffff;
}

nav {
    background-color: #434e4e;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: 15px;
}

a:hover {
    color: #b1cfcf;
    transition: color 0.90s ease;
}