<div>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../UnidadMedida">Ver Formulario</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Marca">Pantalla Marcas</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Empresa">Pantalla Empresa</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Cliente">Pantalla Cliente</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Proveedor">Pantalla Proveedor</a>
    <a type="submit" value="listaUnidadesMedidas" routerLink="../Vendedor">Pantalla Vendedor</a>
</div>
<router-outlet></router-outlet>