<h1>Lista de Empresas</h1>

<div class="caja-tabla">
    <table>
        <thead>
            <tr>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let Empresa of EmpresaService.listaEmpresas">
                <td>{{ Empresa.id.split('-')[0]  }}</td>
                <td>{{ Empresa.nombre }}</td>
                <td>{{ Empresa.direccion }}</td>
                <td><input type="submit" value="Eliminar" (click)="borrarEmpresa( Empresa )"/></td>
            </tr>
        </tbody>
    </table>
</div>

<app-empresa-agregar></app-empresa-agregar>