<div class="caja-formulario">
    <h1>Agregar proveedor</h1>

    <form #form="ngForm" (ngSubmit)="guardarProveedor()">
        <div class="form-group">
            <label>Nombre:  </label>
            <input 
                type="text" 
                placeholder="Nombre del proveedor" 
                name="nombre" 
                [(ngModel)]="ProveedorService.formData.nombre" 
            />
            <label>Apellidos:  </label>
            <input 
                type="text" 
                placeholder="Apellido del proveedor" 
                name="apellidos" 
                [(ngModel)]="ProveedorService.formData.apellidos" 
            />
            <label>RFC:  </label>
            <input 
                type="text" 
                placeholder="RFC del proveedor" 
                name="rfc" 
                [(ngModel)]="ProveedorService.formData.rfc" 
            />
            <label>Dirección:  </label>
            <input 
                type="text" 
                placeholder="Dirección del proveedor" 
                name="direccion" 
                [(ngModel)]="ProveedorService.formData.direccion" 
            />
            <label>Correo:  </label>
            <input 
                type="email" 
                placeholder="Correo del proveedor" 
                name="correo" 
                [(ngModel)]="ProveedorService.formData.correo"
            />
            <label>Telefono:  </label>
            <input 
                type="text" 
                placeholder="Telefono del proveedor" 
                name="telefono"
                [(ngModel)]="ProveedorService.formData.telefono" 
            />
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar"/>
        </div>

        <input 
            type="text" 
            placeholder="Resultado" 
            name="resultado" 
            [(ngModel)]="ProveedorService.apiResponse.mensaje"
            readonly
        />
    </form>
</div>