<div class="caja-formulario">
    <h1>Agregar Vendedor</h1>

    <form #form="ngForm" (ngSubmit)="guardarVendedor()">
        <div class="form-group">
            <label>Nombre:  </label>
            <input 
                type="text" 
                placeholder="Nombre del vendedor" 
                name="nombre" 
                [(ngModel)]="VendedorService.formData.nombre" 
            />
            <label>Apellidos:  </label>
            <input 
                type="text" 
                placeholder="Apellido del vendedor" 
                name="apellidos" 
                [(ngModel)]="VendedorService.formData.apellidos" 
            />
            <label>RFC:  </label>
            <input 
                type="text" 
                placeholder="RFC del vendedor" 
                name="rfc" 
                [(ngModel)]="VendedorService.formData.rfc" 
            />
            <label>Dirección:  </label>
            <input 
                type="text" 
                placeholder="Dirección del vendedor" 
                name="direccion" 
                [(ngModel)]="VendedorService.formData.direccion" 
            />
            <label>Correo:  </label>
            <input 
                type="email" 
                placeholder="Correo del vendedor" 
                name="correo" 
                [(ngModel)]="VendedorService.formData.correo"
            />
            <label>Telefono:  </label>
            <input 
                type="text" 
                placeholder="Telefono del vendedor" 
                name="telefono"
                [(ngModel)]="VendedorService.formData.telefono" 
            />
            <label>Username:  </label>
            <input 
                type="text" 
                placeholder="UserName del vendedor" 
                name="userName" 
                [(ngModel)]="VendedorService.formData.userName"
            />
            <label>Password:  </label>
            <input 
                type="password" 
                placeholder="Password del vendedor" 
                name="password" 
                [(ngModel)]="VendedorService.formData.password"
            />
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar"/>
        </div>

        <input 
            type="text" 
            placeholder="Resultado" 
            name="resultado" 
            [(ngModel)]="VendedorService.apiResponse.mensaje"
            readonly
        />
    </form>
</div>