<h1>Lista de Vendedores</h1>

<div class="caja-tabla grande">
    <table class="tabla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Rfc</th>
                <th>Direccion<th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>UserName</th>
                <th>IdDatosGenerales</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let vendedor of VendedorService.listaVendedores">
                <td>{{ vendedor.id.split('-')[0]  }}</td>
                <td>{{ vendedor.nombre }}</td>
                <td>{{ vendedor.apellidos }}</td>
                <td>{{ vendedor.rfc }}</td>
                <td>{{ vendedor.direccion }}</td>
                <td>{{ vendedor.correo }}</td>
                <td>{{ vendedor.telefono }}</td>
                <td>{{ vendedor.userName }}</td>
                <td>{{ vendedor.idDatosGenerales.split('-')[0] }}</td>
                <td><input type="submit" value="Eliminar" (click)="borrarVendedor( vendedor )"/></td>
            </tr>
        </tbody>
    </table>
</div>

<app-vendedor-agregar></app-vendedor-agregar>