/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 12px;
} 

table thead tr {
    color: white;
    height: 60px;
    background-color: #434e4e;
    position: sticky; 
    top: 0px;
}

table tbody tr {
    height: 50px;
    color: #434e4e;
    font-weight: unset;
}

th:nth-child(6n){
    display: none;
}

td input {
    border: none;
    background-color: tomato;
    font-size: 1em;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.caja-tabla {
    overflow:scroll;
    height: 220px;
    width: 70%;
    overflow-x:hidden;
    overflow-y:scroll;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}

.caja-tabla::-webkit-scrollbar {
    display: none;
}

.caja-tabla.grande {
    width: 90%;
}

td.correo {
    font-size: 12px;
    padding-right: 10px;
}

.caja-formulario {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.caja-formulario form label {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 3px;
}

.caja-formulario form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

.caja-formulario form input[type="submit"] {
    background-color: #434e4e;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.caja-formulario form input[type="submit"]:hover {
    background-color: #434e4e;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}