<h1>Lista de unidades de medida</h1>

<div class="caja-tabla">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let unidad of unidadMedidaService.listaUnidadesMedidas">
                <td>{{ unidad.id.split('-')[0]  }}</td>
                <td>{{ unidad.descripcion }}</td>
                <td><input type="submit" value="Eliminar" (click)="borrarUnidadMedida(unidad)"/></td>
            </tr>
        </tbody>
    </table>
</div>

<app-unidad-medida-agregar></app-unidad-medida-agregar>