<h1>Lista de Clientes</h1>

<div class="caja-tabla">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Rfc</th>
                <th>Direccion<th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>IdDatosGenerales</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let Cliente of ClienteService.listaClientes">
                <td>{{ Cliente.id.split('-')[0]  }}</td>
                <td>{{ Cliente.nombre }}</td>
                <td>{{ Cliente.apellidos }}</td>
                <td>{{ Cliente.rfc }}</td>
                <td>{{ Cliente.direccion }}</td>
                <td>{{ Cliente.correo }}</td>
                <td>{{ Cliente.telefono }}</td>
                <td>{{ Cliente.idDatosGenerales.split('-')[0] }}</td>
                <td><input type="submit" value="Eliminar" (click)="borrarCliente( Cliente )"/></td>
            </tr>
        </tbody>
    </table>
</div>

<app-cliente-agregar></app-cliente-agregar>